/*---SRS COLOURS---*/
/*
# Deep blue - #1A283D
# Grey - #758592
# Green - #07E8CB
# Blue - #00B2E3
*/ 

/*--- Page Formatting ---*/ 

.wy-nav-content {
    max-width: none;
}
 
/*--- Side Bar Styling ---*/


.wy-nav-side {
    background: #1A283D;
}

.wy-menu-vertical li span.toctree-expand {
    color: #00B2E3;
}

.web-icon{
    content: url(favicon.png);
    width: 1.28571em;
    text-align: center;
}

/*--- Other Styling/ Formatting ---*/

.rst-content code.literal, .rst-content tt.literal {
    color: #00B2E3;
}

/*--- FONT ---*/
body, h1, h2, h3, h4, h5, h6, legend{
  font-family: "Ubuntu", sans-serif;
}

.rst-content .toctree-wrapper>p.caption {
  font-family: "Ubuntu", sans-serif;
}