<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.17">
  <compounddef id="classsrsgnb_1_1ue__index__based__ul__executor__mapper" kind="class" language="C++" prot="public" final="yes">
    <compoundname>srsgnb::ue_index_based_ul_executor_mapper</compoundname>
    <basecompoundref refid="classsrsgnb_1_1du__l2__ul__executor__mapper" prot="public" virt="non-virtual">srsgnb::du_l2_ul_executor_mapper</basecompoundref>
    <includes refid="du__high__executor__strategies_8h" local="no">du_high_executor_strategies.h</includes>
      <sectiondef kind="private-attrib">
      <memberdef kind="variable" id="classsrsgnb_1_1ue__index__based__ul__executor__mapper_1a8252ada88594e0d7eb6c9854cfc31c15" prot="private" static="no" mutable="no">
        <type>std::vector&lt; <ref refid="classsrsgnb_1_1task__executor" kindref="compound">task_executor</ref> * &gt;</type>
        <definition>std::vector&lt;task_executor*&gt; srsgnb::ue_index_based_ul_executor_mapper::execs</definition>
        <argsstring></argsstring>
        <name>execs</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/du_high/du_high_executor_strategies.h" line="40" column="15" bodyfile="lib/du_high/du_high_executor_strategies.h" bodystart="40" bodyend="-1"/>
      </memberdef>
      </sectiondef>
      <sectiondef kind="public-func">
      <memberdef kind="function" id="classsrsgnb_1_1ue__index__based__ul__executor__mapper_1aece3884b024aefb25563f8d72c67af54" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>srsgnb::ue_index_based_ul_executor_mapper::ue_index_based_ul_executor_mapper</definition>
        <argsstring>(span&lt; task_executor * &gt; execs_)</argsstring>
        <name>ue_index_based_ul_executor_mapper</name>
        <param>
          <type><ref refid="classsrsgnb_1_1span" kindref="compound">span</ref>&lt; <ref refid="classsrsgnb_1_1task__executor" kindref="compound">task_executor</ref> * &gt;</type>
          <declname>execs_</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/du_high/du_high_executor_strategies.h" line="24" column="3" bodyfile="lib/du_high/du_high_executor_strategies.h" bodystart="24" bodyend="24"/>
      </memberdef>
      <memberdef kind="function" id="classsrsgnb_1_1ue__index__based__ul__executor__mapper_1a547c8060bf4d7843bb6c2b48c2286517" prot="public" static="no" const="no" explicit="no" inline="yes" virt="virtual">
        <type><ref refid="classsrsgnb_1_1task__executor" kindref="compound">task_executor</ref> &amp;</type>
        <definition>task_executor&amp; srsgnb::ue_index_based_ul_executor_mapper::rebind_executor</definition>
        <argsstring>(du_ue_index_t ue_index, du_cell_index_t pcell_index) override</argsstring>
        <name>rebind_executor</name>
        <reimplements refid="classsrsgnb_1_1du__l2__ul__executor__mapper_1a8816cebb924953165a4adb4d6922b7d3">rebind_executor</reimplements>
        <param>
          <type><ref refid="namespacesrsgnb_1aa13f1b28a1a8fe4bb461b7eeee862c0c" kindref="member">du_ue_index_t</ref></type>
          <declname>ue_index</declname>
        </param>
        <param>
          <type><ref refid="namespacesrsgnb_1a0b7aa50c296e2ce222601286a8655abc" kindref="member">du_cell_index_t</ref></type>
          <declname>pcell_index</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
<para>Method to signal the detection of a new UE and potentially change its executor based on its parameters (e.g. PCell). <parameterlist kind="param"><parameteritem>
<parameternamelist>
<parametername>ue_index</parametername>
</parameternamelist>
<parameterdescription>
<para>Index of the UE. </para>
</parameterdescription>
</parameteritem>
<parameteritem>
<parameternamelist>
<parametername>pcell_index</parametername>
</parameternamelist>
<parameterdescription>
<para>Primary Cell of the new UE. </para>
</parameterdescription>
</parameteritem>
</parameterlist>
<simplesect kind="return"><para>task executor of this UE. </para>
</simplesect>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/du_high/du_high_executor_strategies.h" line="26" column="17" bodyfile="lib/du_high/du_high_executor_strategies.h" bodystart="26" bodyend="31"/>
        <references refid="classsrsgnb_1_1du__l2__ul__executor__mapper_1ab8f2b31fea90d2900489c85468c1dc9d" compoundref="du__l2__ul__executor__mapper_8h" startline="29" endline="29">srsgnb::du_l2_ul_executor_mapper::executor</references>
      </memberdef>
      <memberdef kind="function" id="classsrsgnb_1_1ue__index__based__ul__executor__mapper_1ae9d9e173bb724f5e1aafbe428ddd574a" prot="public" static="no" const="no" explicit="no" inline="yes" virt="virtual">
        <type><ref refid="classsrsgnb_1_1task__executor" kindref="compound">task_executor</ref> &amp;</type>
        <definition>task_executor&amp; srsgnb::ue_index_based_ul_executor_mapper::executor</definition>
        <argsstring>(du_ue_index_t ue_index) override</argsstring>
        <name>executor</name>
        <reimplements refid="classsrsgnb_1_1du__l2__ul__executor__mapper_1a8c61994cbe69a75a60d25ded166d7a43">executor</reimplements>
        <param>
          <type><ref refid="namespacesrsgnb_1aa13f1b28a1a8fe4bb461b7eeee862c0c" kindref="member">du_ue_index_t</ref></type>
          <declname>ue_index</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
<para>Method to return the executor to which a UE is currently binded. <parameterlist kind="param"><parameteritem>
<parameternamelist>
<parametername>ue_index</parametername>
</parameternamelist>
<parameterdescription>
<para>Index of the UE. </para>
</parameterdescription>
</parameteritem>
</parameterlist>
<simplesect kind="return"><para>task executor of the UE with given UE Index. </para>
</simplesect>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/du_high/du_high_executor_strategies.h" line="33" column="17" bodyfile="lib/du_high/du_high_executor_strategies.h" bodystart="33" bodyend="37"/>
        <references refid="namespacesrsgnb_1a67a5e6aebfb8323de1df7a5b4bc1eacb" compoundref="du__types_8h" startline="25" endline="28">srsgnb::to_du_ue_index</references>
      </memberdef>
      </sectiondef>
    <briefdescription>
<para>L2 UL executor mapper that maps UEs based on their RNTI. </para>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="1">
        <label>srsgnb::ue_index_based_ul_executor_mapper</label>
        <link refid="classsrsgnb_1_1ue__index__based__ul__executor__mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>srsgnb::du_l2_ul_executor_mapper</label>
        <link refid="classsrsgnb_1_1du__l2__ul__executor__mapper"/>
      </node>
    </inheritancegraph>
    <collaborationgraph>
      <node id="1">
        <label>srsgnb::ue_index_based_ul_executor_mapper</label>
        <link refid="classsrsgnb_1_1ue__index__based__ul__executor__mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>srsgnb::du_l2_ul_executor_mapper</label>
        <link refid="classsrsgnb_1_1du__l2__ul__executor__mapper"/>
      </node>
    </collaborationgraph>
    <location file="lib/du_high/du_high_executor_strategies.h" line="22" column="1" bodyfile="lib/du_high/du_high_executor_strategies.h" bodystart="21" bodyend="41"/>
    <listofallmembers>
      <member refid="classsrsgnb_1_1ue__index__based__ul__executor__mapper_1a8252ada88594e0d7eb6c9854cfc31c15" prot="private" virt="non-virtual"><scope>srsgnb::ue_index_based_ul_executor_mapper</scope><name>execs</name></member>
      <member refid="classsrsgnb_1_1ue__index__based__ul__executor__mapper_1ae9d9e173bb724f5e1aafbe428ddd574a" prot="public" virt="virtual"><scope>srsgnb::ue_index_based_ul_executor_mapper</scope><name>executor</name></member>
      <member refid="classsrsgnb_1_1du__l2__ul__executor__mapper_1ab8f2b31fea90d2900489c85468c1dc9d" prot="public" virt="non-virtual" ambiguityscope="srsgnb::du_l2_ul_executor_mapper::"><scope>srsgnb::ue_index_based_ul_executor_mapper</scope><name>executor</name></member>
      <member refid="classsrsgnb_1_1ue__index__based__ul__executor__mapper_1a547c8060bf4d7843bb6c2b48c2286517" prot="public" virt="virtual"><scope>srsgnb::ue_index_based_ul_executor_mapper</scope><name>rebind_executor</name></member>
      <member refid="classsrsgnb_1_1ue__index__based__ul__executor__mapper_1aece3884b024aefb25563f8d72c67af54" prot="public" virt="non-virtual"><scope>srsgnb::ue_index_based_ul_executor_mapper</scope><name>ue_index_based_ul_executor_mapper</name></member>
      <member refid="classsrsgnb_1_1du__l2__ul__executor__mapper_1a16d8511684b4053b6a159c889c3f99a3" prot="public" virt="virtual"><scope>srsgnb::ue_index_based_ul_executor_mapper</scope><name>~du_l2_ul_executor_mapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
