<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.17">
  <compounddef id="classsrsgnb_1_1sdap__mapper" kind="class" language="C++" prot="public" abstract="yes">
    <compoundname>srsgnb::sdap_mapper</compoundname>
    <includes refid="sdap__mapper_8h" local="no">sdap_mapper.h</includes>
      <sectiondef kind="public-func">
      <memberdef kind="function" id="classsrsgnb_1_1sdap__mapper_1abc33f9b069623533851d93f35adbe25a" prot="public" static="no" const="no" explicit="no" inline="no" virt="virtual">
        <type></type>
        <definition>virtual srsgnb::sdap_mapper::~sdap_mapper</definition>
        <argsstring>()=default</argsstring>
        <name>~sdap_mapper</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/sdap/sdap_mapper.h" line="19" column="11"/>
      </memberdef>
      <memberdef kind="function" id="classsrsgnb_1_1sdap__mapper_1ac00b06e4ba6869a1503d55c611c3d5b7" prot="public" static="no" const="no" explicit="no" inline="no" virt="pure-virtual">
        <type>bool</type>
        <definition>virtual bool srsgnb::sdap_mapper::associate</definition>
        <argsstring>(int mapping_list_number, const void *mapping_list)=0</argsstring>
        <name>associate</name>
        <param>
          <type>int</type>
          <declname>mapping_list_number</declname>
        </param>
        <param>
          <type>const void *</type>
          <declname>mapping_list</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/sdap/sdap_mapper.h" line="21" column="16"/>
      </memberdef>
      <memberdef kind="function" id="classsrsgnb_1_1sdap__mapper_1a983457e06588f07b4cf70950fd5194bf" prot="public" static="no" const="no" explicit="no" inline="no" virt="pure-virtual">
        <type>bool</type>
        <definition>virtual bool srsgnb::sdap_mapper::drb_release</definition>
        <argsstring>(int drb)=0</argsstring>
        <name>drb_release</name>
        <param>
          <type>int</type>
          <declname>drb</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/sdap/sdap_mapper.h" line="23" column="16"/>
      </memberdef>
      </sectiondef>
    <briefdescription>
<para>DRB to QoS flow mapping. </para>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <collaborationgraph>
      <node id="1">
        <label>srsgnb::sdap_mapper</label>
        <link refid="classsrsgnb_1_1sdap__mapper"/>
      </node>
    </collaborationgraph>
    <location file="include/srsgnb/sdap/sdap_mapper.h" line="17" column="1" bodyfile="include/srsgnb/sdap/sdap_mapper.h" bodystart="16" bodyend="24"/>
    <listofallmembers>
      <member refid="classsrsgnb_1_1sdap__mapper_1ac00b06e4ba6869a1503d55c611c3d5b7" prot="public" virt="pure-virtual"><scope>srsgnb::sdap_mapper</scope><name>associate</name></member>
      <member refid="classsrsgnb_1_1sdap__mapper_1a983457e06588f07b4cf70950fd5194bf" prot="public" virt="pure-virtual"><scope>srsgnb::sdap_mapper</scope><name>drb_release</name></member>
      <member refid="classsrsgnb_1_1sdap__mapper_1abc33f9b069623533851d93f35adbe25a" prot="public" virt="virtual"><scope>srsgnb::sdap_mapper</scope><name>~sdap_mapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
