<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.17">
  <compounddef id="classsrsgnb_1_1cell__dl__executor__mapper" kind="class" language="C++" prot="public" final="yes">
    <compoundname>srsgnb::cell_dl_executor_mapper</compoundname>
    <basecompoundref refid="classsrsgnb_1_1du__l2__dl__executor__mapper" prot="public" virt="non-virtual">srsgnb::du_l2_dl_executor_mapper</basecompoundref>
    <includes refid="du__high__executor__strategies_8h" local="no">du_high_executor_strategies.h</includes>
      <sectiondef kind="private-attrib">
      <memberdef kind="variable" id="classsrsgnb_1_1cell__dl__executor__mapper_1adc48bcad7264fead2c8e985b10d4c698" prot="private" static="no" mutable="no">
        <type>std::vector&lt; <ref refid="classsrsgnb_1_1task__executor" kindref="compound">task_executor</ref> * &gt;</type>
        <definition>std::vector&lt;task_executor*&gt; srsgnb::cell_dl_executor_mapper::dl_execs</definition>
        <argsstring></argsstring>
        <name>dl_execs</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/du_high/du_high_executor_strategies.h" line="89" column="15" bodyfile="lib/du_high/du_high_executor_strategies.h" bodystart="89" bodyend="-1"/>
      </memberdef>
      </sectiondef>
      <sectiondef kind="public-func">
      <memberdef kind="function" id="classsrsgnb_1_1cell__dl__executor__mapper_1a3084d5ff4086b2cb930e175f107cf676" prot="public" static="no" const="no" explicit="yes" inline="yes" virt="non-virtual">
        <type></type>
        <definition>srsgnb::cell_dl_executor_mapper::cell_dl_executor_mapper</definition>
        <argsstring>(const std::initializer_list&lt; task_executor * &gt; &amp;execs_)</argsstring>
        <name>cell_dl_executor_mapper</name>
        <param>
          <type>const std::initializer_list&lt; <ref refid="classsrsgnb_1_1task__executor" kindref="compound">task_executor</ref> * &gt; &amp;</type>
          <declname>execs_</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/du_high/du_high_executor_strategies.h" line="80" column="12" bodyfile="lib/du_high/du_high_executor_strategies.h" bodystart="80" bodyend="84"/>
      </memberdef>
      <memberdef kind="function" id="classsrsgnb_1_1cell__dl__executor__mapper_1a4169c143f8ef89ddcb0a06072b3a2b26" prot="public" static="no" const="no" explicit="no" inline="yes" virt="virtual">
        <type><ref refid="classsrsgnb_1_1task__executor" kindref="compound">task_executor</ref> &amp;</type>
        <definition>task_executor&amp; srsgnb::cell_dl_executor_mapper::executor</definition>
        <argsstring>(du_cell_index_t cell_index) override</argsstring>
        <name>executor</name>
        <reimplements refid="classsrsgnb_1_1du__l2__dl__executor__mapper_1a91ceae6a6581bc1cbae51617d798216d">executor</reimplements>
        <param>
          <type><ref refid="namespacesrsgnb_1a0b7aa50c296e2ce222601286a8655abc" kindref="member">du_cell_index_t</ref></type>
          <declname>cell_index</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/du_high/du_high_executor_strategies.h" line="86" column="17" bodyfile="lib/du_high/du_high_executor_strategies.h" bodystart="86" bodyend="86"/>
      </memberdef>
      </sectiondef>
    <briefdescription>
<para>Dispatch DL tasks based on cell index. </para>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="1">
        <label>srsgnb::cell_dl_executor_mapper</label>
        <link refid="classsrsgnb_1_1cell__dl__executor__mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>srsgnb::du_l2_dl_executor_mapper</label>
        <link refid="classsrsgnb_1_1du__l2__dl__executor__mapper"/>
      </node>
    </inheritancegraph>
    <collaborationgraph>
      <node id="1">
        <label>srsgnb::cell_dl_executor_mapper</label>
        <link refid="classsrsgnb_1_1cell__dl__executor__mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>srsgnb::du_l2_dl_executor_mapper</label>
        <link refid="classsrsgnb_1_1du__l2__dl__executor__mapper"/>
      </node>
    </collaborationgraph>
    <location file="lib/du_high/du_high_executor_strategies.h" line="78" column="1" bodyfile="lib/du_high/du_high_executor_strategies.h" bodystart="77" bodyend="90"/>
    <listofallmembers>
      <member refid="classsrsgnb_1_1cell__dl__executor__mapper_1a3084d5ff4086b2cb930e175f107cf676" prot="public" virt="non-virtual"><scope>srsgnb::cell_dl_executor_mapper</scope><name>cell_dl_executor_mapper</name></member>
      <member refid="classsrsgnb_1_1cell__dl__executor__mapper_1adc48bcad7264fead2c8e985b10d4c698" prot="private" virt="non-virtual"><scope>srsgnb::cell_dl_executor_mapper</scope><name>dl_execs</name></member>
      <member refid="classsrsgnb_1_1cell__dl__executor__mapper_1a4169c143f8ef89ddcb0a06072b3a2b26" prot="public" virt="virtual"><scope>srsgnb::cell_dl_executor_mapper</scope><name>executor</name></member>
      <member refid="classsrsgnb_1_1du__l2__dl__executor__mapper_1a77c6677231b217e6f0fd1d17f6c9bee8" prot="public" virt="virtual"><scope>srsgnb::cell_dl_executor_mapper</scope><name>~du_l2_dl_executor_mapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
