<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.17">
  <compounddef id="structdetail_1_1arg__mapper" kind="struct" language="C++" prot="public">
    <compoundname>detail::arg_mapper</compoundname>
    <templateparamlist>
      <param>
        <type>typename Context</type>
      </param>
    </templateparamlist>
      <sectiondef kind="public-type">
      <memberdef kind="typedef" id="structdetail_1_1arg__mapper_1ae1f5186d1d7ee29a79936164abaa3208" prot="public" static="no">
        <type>typename Context::char_type</type>
        <definition>using detail::arg_mapper&lt; Context &gt;::char_type =  typename Context::char_type</definition>
        <argsstring></argsstring>
        <name>char_type</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="967" column="3" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="967" bodyend="-1"/>
      </memberdef>
      </sectiondef>
      <sectiondef kind="public-func">
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a7221dc2e2bf3fdb53771e67ece5005ac" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>FMT_CONSTEXPR int</type>
        <definition>FMT_CONSTEXPR int detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(signed char val)</argsstring>
        <name>map</name>
        <param>
          <type>signed char</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="969" column="21" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="969" bodyend="969"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a3f1228ec11e93511c4159b068fc34681" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>FMT_CONSTEXPR unsigned</type>
        <definition>FMT_CONSTEXPR unsigned detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(unsigned char val)</argsstring>
        <name>map</name>
        <param>
          <type>unsigned char</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="970" column="26" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="970" bodyend="970"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a003dbf6b08bea14d092782fd8a58b639" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>FMT_CONSTEXPR int</type>
        <definition>FMT_CONSTEXPR int detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(short val)</argsstring>
        <name>map</name>
        <param>
          <type>short</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="971" column="21" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="971" bodyend="971"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1ad60ab27f34836d636b04e48d83ce71dd" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>FMT_CONSTEXPR unsigned</type>
        <definition>FMT_CONSTEXPR unsigned detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(unsigned short val)</argsstring>
        <name>map</name>
        <param>
          <type>unsigned short</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="972" column="26" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="972" bodyend="972"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a2f30deb155658bd132de397659f7aaab" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>FMT_CONSTEXPR int</type>
        <definition>FMT_CONSTEXPR int detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(int val)</argsstring>
        <name>map</name>
        <param>
          <type>int</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="973" column="21" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="973" bodyend="973"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a81855873369d00f5a381ff59412a4002" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>FMT_CONSTEXPR unsigned</type>
        <definition>FMT_CONSTEXPR unsigned detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(unsigned val)</argsstring>
        <name>map</name>
        <param>
          <type>unsigned</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="974" column="26" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="974" bodyend="974"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1afa74b07fcb0235611e34976cc3a1e296" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>FMT_CONSTEXPR long_type</type>
        <definition>FMT_CONSTEXPR long_type detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(long val)</argsstring>
        <name>map</name>
        <param>
          <type>long</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="975" column="27" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="975" bodyend="975"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a0898dca256f00e0b3992695438af3057" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>FMT_CONSTEXPR ulong_type</type>
        <definition>FMT_CONSTEXPR ulong_type detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(unsigned long val)</argsstring>
        <name>map</name>
        <param>
          <type>unsigned long</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="976" column="28" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="976" bodyend="976"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a135f53479fdff0f8c1259067970fa189" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>FMT_CONSTEXPR long long</type>
        <definition>FMT_CONSTEXPR long long detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(long long val)</argsstring>
        <name>map</name>
        <param>
          <type>long long</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="977" column="27" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="977" bodyend="977"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a70e852d9c99175510cc02606eb07ab87" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>FMT_CONSTEXPR unsigned long long</type>
        <definition>FMT_CONSTEXPR unsigned long long detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(unsigned long long val)</argsstring>
        <name>map</name>
        <param>
          <type>unsigned long long</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="978" column="36" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="978" bodyend="978"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1af23dfa48fee578d5e5e3407418ebebec" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>FMT_CONSTEXPR <ref refid="structdetail_1_1int128__t" kindref="compound">int128_t</ref></type>
        <definition>FMT_CONSTEXPR int128_t detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(int128_t val)</argsstring>
        <name>map</name>
        <param>
          <type><ref refid="structdetail_1_1int128__t" kindref="compound">int128_t</ref></type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="979" column="26" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="979" bodyend="979"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1adc7c25d7779f4eac1a8112da56bee6f3" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>FMT_CONSTEXPR <ref refid="structdetail_1_1uint128__t" kindref="compound">uint128_t</ref></type>
        <definition>FMT_CONSTEXPR uint128_t detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(uint128_t val)</argsstring>
        <name>map</name>
        <param>
          <type><ref refid="structdetail_1_1uint128__t" kindref="compound">uint128_t</ref></type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="980" column="27" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="980" bodyend="980"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1adf5dccae46ce1b0a3201ca417b6e5d28" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>FMT_CONSTEXPR bool</type>
        <definition>FMT_CONSTEXPR bool detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(bool val)</argsstring>
        <name>map</name>
        <param>
          <type>bool</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="981" column="22" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="981" bodyend="981"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1aba168a2a449d904ec1ef0048c4026e97" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <templateparamlist>
          <param>
            <type>typename T</type>
          </param>
          <param>
            <type>FMT_ENABLE_IF(<ref refid="structis__char" kindref="compound">is_char</ref>&lt; T &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref>)</type>
          </param>
        </templateparamlist>
        <type>FMT_CONSTEXPR char_type</type>
        <definition>FMT_CONSTEXPR char_type detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(T val)</argsstring>
        <name>map</name>
        <param>
          <type>T</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="984" column="27" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="984" bodyend="989"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1af83eb75303e7b4c0582e4c3fc29f0b65" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>FMT_CONSTEXPR float</type>
        <definition>FMT_CONSTEXPR float detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(float val)</argsstring>
        <name>map</name>
        <param>
          <type>float</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="991" column="23" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="991" bodyend="991"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1aac888efc8fa97e19ecbd0c3e458956b2" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>FMT_CONSTEXPR double</type>
        <definition>FMT_CONSTEXPR double detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(double val)</argsstring>
        <name>map</name>
        <param>
          <type>double</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="992" column="24" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="992" bodyend="992"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a52e3776c45bb3433b2e470e6c891dc6b" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>FMT_CONSTEXPR long double</type>
        <definition>FMT_CONSTEXPR long double detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(long double val)</argsstring>
        <name>map</name>
        <param>
          <type>long double</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="993" column="29" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="993" bodyend="993"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a8b5a5ae7ba8a9d27940a9b4afbf49c2e" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>const FMT_CONSTEXPR char_type *</type>
        <definition>const FMT_CONSTEXPR char_type* detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(char_type *val)</argsstring>
        <name>map</name>
        <param>
          <type>char_type *</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="995" column="33" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="995" bodyend="995"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a27401bb03c516f84b77ee56730e62840" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>const FMT_CONSTEXPR char_type *</type>
        <definition>const FMT_CONSTEXPR char_type* detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(const char_type *val)</argsstring>
        <name>map</name>
        <param>
          <type>const char_type *</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="996" column="33" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="996" bodyend="996"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1ade228354def55fff93127f17fd295d3a" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <templateparamlist>
          <param>
            <type>typename T</type>
          </param>
          <param>
            <type>FMT_ENABLE_IF(<ref refid="structdetail_1_1is__string" kindref="compound">is_string</ref>&lt; T &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref>)</type>
          </param>
        </templateparamlist>
        <type>FMT_CONSTEXPR <ref refid="classbasic__string__view" kindref="compound">basic_string_view</ref>&lt; char_type &gt;</type>
        <definition>FMT_CONSTEXPR basic_string_view&lt;char_type&gt; detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(const T &amp;val)</argsstring>
        <name>map</name>
        <param>
          <type>const T &amp;</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="998" column="35" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="998" bodyend="1002"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1ade228354def55fff93127f17fd295d3a" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <templateparamlist>
          <param>
            <type>typename T</type>
          </param>
          <param>
            <type>FMT_ENABLE_IF( std::is_constructible&lt; <ref refid="classbasic__string__view" kindref="compound">basic_string_view</ref>&lt; char_type &gt;, T &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref> &amp;&amp; !<ref refid="structdetail_1_1is__string" kindref="compound">is_string</ref>&lt; T &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref> &amp;&amp;!has_formatter&lt; T, Context &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref> &amp;&amp; !has_fallback_formatter&lt; T, Context &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref>)</type>
          </param>
        </templateparamlist>
        <type>FMT_CONSTEXPR <ref refid="classbasic__string__view" kindref="compound">basic_string_view</ref>&lt; char_type &gt;</type>
        <definition>FMT_CONSTEXPR basic_string_view&lt;char_type&gt; detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(const T &amp;val)</argsstring>
        <name>map</name>
        <param>
          <type>const T &amp;</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="1008" column="35" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="1008" bodyend="1010"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1ade228354def55fff93127f17fd295d3a" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <templateparamlist>
          <param>
            <type>typename T</type>
          </param>
          <param>
            <type>FMT_ENABLE_IF( std::is_constructible&lt; <ref refid="structdetail_1_1std__string__view" kindref="compound">std_string_view</ref>&lt; char_type &gt;, T &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref> &amp;&amp; !std::is_constructible&lt; <ref refid="classbasic__string__view" kindref="compound">basic_string_view</ref>&lt; char_type &gt;, T &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref> &amp;&amp; !<ref refid="structdetail_1_1is__string" kindref="compound">is_string</ref>&lt; T &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref> &amp;&amp;!has_formatter&lt; T, Context &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref> &amp;&amp; !has_fallback_formatter&lt; T, Context &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref>)</type>
          </param>
        </templateparamlist>
        <type>FMT_CONSTEXPR <ref refid="classbasic__string__view" kindref="compound">basic_string_view</ref>&lt; char_type &gt;</type>
        <definition>FMT_CONSTEXPR basic_string_view&lt;char_type&gt; detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(const T &amp;val)</argsstring>
        <name>map</name>
        <param>
          <type>const T &amp;</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="1018" column="35" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="1018" bodyend="1020"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a9aa0d5606320beb9236593268163b6a3" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>const FMT_CONSTEXPR char *</type>
        <definition>const FMT_CONSTEXPR char* detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(const signed char *val)</argsstring>
        <name>map</name>
        <param>
          <type>const signed char *</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="1021" column="28" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="1021" bodyend="1024"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a3184f13ef941b6e27617aaa68362dfa5" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>const FMT_CONSTEXPR char *</type>
        <definition>const FMT_CONSTEXPR char* detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(const unsigned char *val)</argsstring>
        <name>map</name>
        <param>
          <type>const unsigned char *</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="1025" column="28" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="1025" bodyend="1028"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a991bf226fe089457e0ee02acd4a32c77" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>const FMT_CONSTEXPR char *</type>
        <definition>const FMT_CONSTEXPR char* detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(signed char *val)</argsstring>
        <name>map</name>
        <param>
          <type>signed char *</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="1029" column="28" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="1029" bodyend="1032"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a1ce511e2f5912fba9d131a530060633c" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>const FMT_CONSTEXPR char *</type>
        <definition>const FMT_CONSTEXPR char* detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(unsigned char *val)</argsstring>
        <name>map</name>
        <param>
          <type>unsigned char *</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="1033" column="28" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="1033" bodyend="1036"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1ada6fc51f875eabcef160da8d57389af4" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>const FMT_CONSTEXPR void *</type>
        <definition>const FMT_CONSTEXPR void* detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(void *val)</argsstring>
        <name>map</name>
        <param>
          <type>void *</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="1038" column="28" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="1038" bodyend="1038"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a6e6063a32467796e656b1b1f1c9f1578" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>const FMT_CONSTEXPR void *</type>
        <definition>const FMT_CONSTEXPR void* detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(const void *val)</argsstring>
        <name>map</name>
        <param>
          <type>const void *</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="1039" column="28" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="1039" bodyend="1039"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a5f077b3bcbe934484761b5bb08420273" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>const FMT_CONSTEXPR void *</type>
        <definition>const FMT_CONSTEXPR void* detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(std::nullptr_t val)</argsstring>
        <name>map</name>
        <param>
          <type>std::nullptr_t</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="1040" column="28" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="1040" bodyend="1040"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a1b983eec278c7719b7d6c6e865b92c9d" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <templateparamlist>
          <param>
            <type>typename T</type>
          </param>
        </templateparamlist>
        <type>FMT_CONSTEXPR int</type>
        <definition>FMT_CONSTEXPR int detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(const T *)</argsstring>
        <name>map</name>
        <param>
          <type>const T *</type>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="1041" column="33" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="1041" bodyend="1048"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a7c03ae9e9dfc00733b691a727e47aef2" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <templateparamlist>
          <param>
            <type>typename T</type>
          </param>
          <param>
            <type>FMT_ENABLE_IF(std::is_enum&lt; T &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref> &amp;&amp; !has_formatter&lt; T, Context &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref> &amp;&amp; !has_fallback_formatter&lt; T, Context &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref>)</type>
          </param>
        </templateparamlist>
        <type>FMT_CONSTEXPR auto</type>
        <definition>FMT_CONSTEXPR auto detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(const T &amp;val) -&gt; decltype(std::declval&lt; arg_mapper &gt;().map(static_cast&lt; typename std::underlying_type&lt; T &gt;::type &gt;(val)))</argsstring>
        <name>map</name>
        <param>
          <type>const T &amp;</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="1054" column="22" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="1054" bodyend="1058"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1ab73bd44d5eef3edb60d1d4edc8a2707b" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <templateparamlist>
          <param>
            <type>typename T</type>
          </param>
          <param>
            <type>FMT_ENABLE_IF(!<ref refid="structdetail_1_1is__string" kindref="compound">is_string</ref>&lt; T &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref> &amp;&amp;!<ref refid="structis__char" kindref="compound">is_char</ref>&lt; T &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref> &amp;&amp;(has_formatter&lt; T, Context &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref>|| has_fallback_formatter&lt; T, Context &gt;::<ref refid="classdetail_1_1value" kindref="compound">value</ref>))</type>
          </param>
        </templateparamlist>
        <type>const FMT_CONSTEXPR T &amp;</type>
        <definition>const FMT_CONSTEXPR T&amp; detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(const T &amp;val)</argsstring>
        <name>map</name>
        <param>
          <type>const T &amp;</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="1063" column="25" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="1063" bodyend="1065"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a76abf9e6964b42af3d3729010b56e048" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <templateparamlist>
          <param>
            <type>typename T</type>
          </param>
        </templateparamlist>
        <type>FMT_CONSTEXPR auto</type>
        <definition>FMT_CONSTEXPR auto detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(const named_arg&lt; char_type, T &gt; &amp;val) -&gt; decltype(std::declval&lt; arg_mapper &gt;().map(val.value))</argsstring>
        <name>map</name>
        <param>
          <type>const <ref refid="structdetail_1_1named__arg" kindref="compound">named_arg</ref>&lt; char_type, T &gt; &amp;</type>
          <declname>val</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="1068" column="22" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="1068" bodyend="1071"/>
      </memberdef>
      <memberdef kind="function" id="structdetail_1_1arg__mapper_1a2eec055bf30bdec255a53b07ce8dff51" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>int</type>
        <definition>int detail::arg_mapper&lt; Context &gt;::map</definition>
        <argsstring>(...)</argsstring>
        <name>map</name>
        <param>
          <type>...</type>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="1073" column="7" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="1073" bodyend="1081"/>
      </memberdef>
      </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <collaborationgraph>
      <node id="1">
        <label>detail::arg_mapper&lt; Context &gt;</label>
        <link refid="structdetail_1_1arg__mapper"/>
      </node>
    </collaborationgraph>
    <location file="include/srsgnb/srslog/bundled/fmt/core.h" line="966" column="29" bodyfile="include/srsgnb/srslog/bundled/fmt/core.h" bodystart="966" bodyend="1082"/>
    <listofallmembers>
      <member refid="structdetail_1_1arg__mapper_1ae1f5186d1d7ee29a79936164abaa3208" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>char_type</name></member>
      <member refid="structdetail_1_1arg__mapper_1a7221dc2e2bf3fdb53771e67ece5005ac" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a3f1228ec11e93511c4159b068fc34681" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a003dbf6b08bea14d092782fd8a58b639" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1ad60ab27f34836d636b04e48d83ce71dd" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a2f30deb155658bd132de397659f7aaab" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a81855873369d00f5a381ff59412a4002" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1afa74b07fcb0235611e34976cc3a1e296" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a0898dca256f00e0b3992695438af3057" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a135f53479fdff0f8c1259067970fa189" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a70e852d9c99175510cc02606eb07ab87" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1af23dfa48fee578d5e5e3407418ebebec" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1adc7c25d7779f4eac1a8112da56bee6f3" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1adf5dccae46ce1b0a3201ca417b6e5d28" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1aba168a2a449d904ec1ef0048c4026e97" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1af83eb75303e7b4c0582e4c3fc29f0b65" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1aac888efc8fa97e19ecbd0c3e458956b2" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a52e3776c45bb3433b2e470e6c891dc6b" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a8b5a5ae7ba8a9d27940a9b4afbf49c2e" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a27401bb03c516f84b77ee56730e62840" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1ade228354def55fff93127f17fd295d3a" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1ade228354def55fff93127f17fd295d3a" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1ade228354def55fff93127f17fd295d3a" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a9aa0d5606320beb9236593268163b6a3" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a3184f13ef941b6e27617aaa68362dfa5" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a991bf226fe089457e0ee02acd4a32c77" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a1ce511e2f5912fba9d131a530060633c" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1ada6fc51f875eabcef160da8d57389af4" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a6e6063a32467796e656b1b1f1c9f1578" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a5f077b3bcbe934484761b5bb08420273" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a1b983eec278c7719b7d6c6e865b92c9d" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a7c03ae9e9dfc00733b691a727e47aef2" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1ab73bd44d5eef3edb60d1d4edc8a2707b" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a76abf9e6964b42af3d3729010b56e048" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
      <member refid="structdetail_1_1arg__mapper_1a2eec055bf30bdec255a53b07ce8dff51" prot="public" virt="non-virtual"><scope>detail::arg_mapper</scope><name>map</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
